<div class="container my-3 flex-column d-flex align-items-center">
  <div class="card border" style="width: 50rem;">
    <div class="card-body flex-column justify-content-center">
      <h1 class="card-title fs-2">Welcome, <%= welcome_logged_user %>!</h1>
      <br/>
      <p class="card-text flex-md-fill fs-4">Events...</p>
      <br/>
      <br/>
    </div>
  </div>
</div>
