<div class="border border-success rounded-3 border-4 text-center mx-auto mb-3" style="width: 30rem;">
  <div class="card-body pb-2 mt-2">
    <h2>New Username</h2>
    <%= render 'user_form', user: @user %>
    <%= link_to 'Back', @user, class: 'btn btn-secondary btn-sm my-3' %>
  </div>
</div>