<div class="card mx-auto mb-3" style="width: 25rem;">
  <div class="card-body pb-5 mt-2">
    <h2>Sign up</h2>
    <%= render 'user_form', user: @user %>
    <br/>
    <h3 class="text-primary">Are you registered?</h3>
    <%= link_to "Sign In", login_path, method: :get, class: 'btn btn-success' %>
  </div>
</div>
