<h1 class="mt-4 mb-0">Welcome to private-events <%= current_user.username %>!</h1><br/>
<%= link_to 'Go to Events', events_path, class:"border rounded-pill border-3 border-success py-2 px-3 fs-4 fw-bold mt-0 text-success text-decoration-none" %>