<h1 class="mt-4 mb-0">Welcome to private-events!</h1><br/>
<p class="fs-4 mt-0">
  See all your events<br/>
  <%= link_to "Sign In", login_path, class:"btn btn-success mb-5" %><br/>
  Don't have an account?<br/>
  <%= navcheck_sign_upbtn %>
</p>