<div class="card my-3 mx-auto d-flex flex-column align-items-center" style="width: 40rem;">
  <div class="card-body text-center">
    <h1>Hello!</h1><br/>
    <p class="fs-4">Welcome to Private-Events!<br/><br/>
    Sign In to see all your events and invitations.<br/><br/>
    <%= link_to "Sign In", login_path, class:"btn btn-success mb-5" %><br/>
    <br/><br/>
    Don't have an account?<br/>
    <%= link_to "Sign Up", new_user_path, class:"btn btn-secondary btn-sm" %>
    </p>
    <br/>
  </div>
</div>