<div class="border rounded-3 border-success border-4 my-3 mx-auto d-flex flex-column align-items-center" style="width: 40rem;">
  <div class="card-body text-center">
    <%= root_page %>
    <br/>
  </div>
</div>