<div class="card my-3 mx-auto d-flex flex-column align-items-center" style="width: 40rem;">
  <div class="card-body text-center">
    <h1 class="mt-4">Welcome to private-events!</h1><br/><br/>
    <p class="fs-4">
      See all your events and invitations<br/>
      <%= link_to "Sign In", login_path, class:"btn btn-success mb-5" %><br/>
      Don't have an account?<br/>
      <%= link_to "Sign Up", new_user_path, class:"btn btn-secondary" %>
    </p>
    <br/>
  </div>
</div>