<% @event.attendees.each do |attendee| %>
  <tr>
    <td class="d-flex justify-content-center">
    <p class="fs-4 mb-1 text-success fw-bold"><%= attendee.username %></p>&nbsp;&nbsp;<i class="fas fa-check text-success mt-2 fs-5"></i>
    </td>
  </tr>
<% end %>