<tr class="table-secondary text-center">
  <th><h5 class="fs-4 text-dark fw-bolder">Upcoming</h5></th>
</tr>
<tr class="text-center">
  <td><p class="fs-5 text-dark">No events to show :(</p></td>
</tr>
<tr class="table-secondary text-center">
  <th><h5 class="fs-4 text-dark fw-bolder">Previous</h5></th>
</tr>
<tr class="text-center">
  <td><p class="fs-5 text-dark">No events to show :(</p></td>
</tr>