<div class="container pb-5 mt-3">
  <table class="table table-borderless border border-5 mx-auto" style="width: 40rem;">
    <thead>
      <tr class="bg-success">
        <th><h2 class="mt-1 mb-0 text-center text-white fw-bolder">Events</h2></th>
      </tr>
    </thead>
    <tbody>
      <%= events_show %>
    </tbody>
  </table>
</div>