<div class="container my-3 flex-column d-flex align-items-center">
  <div class="card border p-4 d-flex flex-column align-items-center" style="width: 50rem;">
    <div class="card-body mt-3" style="height: auto;">
      <h1 class="card-title text-center fs-2">Events</h1>
      <br/>
      <p class="card-text flex-md-fill d-flex" style="width: 35rem;">
        <% @events.each do |event| %>
          <p class="fs-4"><%= event.id %>. <%= event.description %><br/></p>
          <%= link_to 'Details', event_path(event), class:"btn btn-success btn-sm" %>
          <br/><br/>
        <% end %>
      </p>
      <br/>
      <br/>
    </div>
  </div>
</div>