<div class="container mt-3 flex-column d-flex align-items-center">
  <div class="border border-success rounded-3 border-3 d-flex flex-column align-items-center" style="width: 50rem;">
    <div class="card-body text-center my-2">
      <h2>Create an Event</h2>
      <%= render 'event_form', event: @event %>
    </div>
    <%= link_to 'Back', events_path, class: 'btn btn-secondary btn-sm mb-4' %>
  </div>
</div>