<div class="card mx-auto mb-3" style="width: 25rem;">
  <div class="card-body pb-5 mt-2">
    <h2>Create an Event</h2>
    <%= form_with model: @event do |f| %>
      <div class="field">
        <% f.label :description %><br />
        <%= f.text_field :description, style:"width: 20rem;", placeholder:"Event's Description" %>
      </div>
      <br/>
      <div class="actions">
        <%= f.submit "Create!", class:"btn btn-success" %>
      </div>
    <% end %>
    <br/>
  </div>
</div>