<nav class="navbar navbar-expand-lg navbar-light mb-0" style="background-color: #a7dbaf;">
  <div class="container-fluid">
    <%= navcheck_main %>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <div class="d-flex justify-content-end" style="width: 15rem;">
        <%= navcheck_create_event %>
        <%= navcheck_signed_in %>
      </div>
    </ul>
  </div>
</nav>