<nav class="navbar navbar-expand-lg navbar-light mb-0 sticky-top" style="background-color: #dce3df;">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= navcheck_main %>
      <h5 class="color-light mt-2 p-0 fst-italic"><%= navcheck_user %></h5>
    </div>
    <div class="navbar-nav mb-2 mb-lg-0">
      <%= nav_signin_signout %>
    </div>
  </div>
</nav>