<div class="d-flex justify-content-around" style="width: 20rem;">
  <%= link_to 'Events', events_path, class: 'btn btn-outline-success my-1' %>
  <%= link_to 'Create an Event', new_event_path, class: 'btn btn-outline-success my-1' %>
  <%= link_to 'Sign Out', logout_path, method: :post, class: 'nav-link fw-bold' %>
</div>